<table>
  <tr>
    <td>
     <b>Date</b>
    </td>
    <td>
      <b>Tweet</b>
    </td>
  </tr>
  <% @tweets.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.created_at %>
    </td>
    <td>
      <%= tweet.text %>
    </td>
  </tr>
  <% end %>


</table>
